<span *ngIf="signInFailed">
  Email address or password are incorrect.
</span>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <app-email formControlName="email"></app-email>
  <app-password formControlName="password" [label]="'Password'"></app-password>
  <label>
    Keep me signed in.
    <input formControlName="keepSignedIn" type="checkbox">
  </label>
  <app-submit [content]="'Sign in'" [status]="signInForm.status"></app-submit>
</form>
<a [routerLink]="[signUpLink]">
  Sign up
</a>